---
import { NAVIGATION } from '@config/site';
import { Package } from 'lucide-react';
import MobileMenu from '@components/react/MobileMenu';
import MartialArtsMenu from '@components/react/MartialArtsMenu';
import { Image } from 'astro:assets';

const { currentPathname } = Astro.props;
const isActiveLink = (href: string) : boolean => { return href === currentPathname; }
import logoImg from '@assets/logo_text.png';
---

<header class="sticky top-0 z-50" >
  <div class="h-20 absolute top-10 right-10" style="margin-bottom:-20rem">
    <MartialArtsMenu client:idle />
  </div>
</header>

<style>
  .cta-button {
    background: linear-gradient(135deg, #9f3434 0%, #7a2828 100%);
  }
  
  .cta-button:hover {
    background: linear-gradient(135deg, #7a2828 0%, #5a1f1f 100%);
  }
</style>
